<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 60em;">
            <img src="{{libro.imagen}}" class="h-100 w-100">
            <div class="carousel-caption d-none d-md-block">
                <div  class="texto-libro">
                    <h2>{{libro.titulo}}</h2>
                    <p>{{libro.descripcion}}</p>
                </div>

            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev" (click)="anterior()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next" (click)="siguiente()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>