<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px;">
    <div class="container-fluid">
      <a class="navbar-brand">Menú</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Punto 1
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLinkActive="active" routerLink="/libros/destacados">Libros Destacados</a></li>
              <li><a class="dropdown-item" routerLinkActive="active" routerLink="/libros/formulario">Libro Formulario</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Punto 2
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLinkActive="active" routerLink="/transaccion/conversor">Conversor de Divisas</a></li>
              <li><a class="dropdown-item" routerLinkActive="active" routerLink="/transaccion/recuperar">Recuperar Transacciones</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Punto 3
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLinkActive="active" routerLink="/pasajes/recuperar">Recuperar Pasajes</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/pasajes/formulario/0">Pasajes Formulario</a></li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </nav>
